 body{
	background-color: #E9EBEE;
}

a{
	text-decoration: none;
	color: black;
}

#header{
	height: 37px;
	background-color: #4267B2;
	color:white;
	padding-bottom: 10px;
}

.navbar{
	max-width: 900px;
	margin: auto;
}

.navbar-left{
	width: 50%;
}

.navbar-left, .navbar-right{
	display: inline-block;
}

.navbar-left input{
	width: 90%;
	display: inline-block;
	padding: 10px 0 0;
	height: 12px;
	margin-top: 10px;

}

.fb-logo{
	display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/ye/r/jNvmNEDilLw.png');
	background-repeat: no-repeat;
	background-size: 25px 626px;
	background-position: 0 -50px;
	height: 24px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 24px;	
	margin-top: 10px;
}

.navbar-right{
	width: 49%;
}

/* The ">" will apply the rule ONLY to direct decendents of the parent */
.navbar-right > div, .navbar-right li{
	display: inline-block;
}
#Friends{
    display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/ye/r/jNvmNEDilLw.png');
	background-repeat: no-repeat;
	background-size: 25px 626px;
	background-position: 0 -75px;
	height: 24px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 24px;	
}
#Messanger{
	display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/yO/r/RkRXjRptJ2P.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -113px;
	height: 24px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 24px;
	opacity: .6;	
}
#Notifications{
	display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/y7/r/fyhmnWiv9rH.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -125px;
	height: 24px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 24px;
	opacity: .6;
}
.help{
	display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/y7/r/fyhmnWiv9rH.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -401px;
	height: 21px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 21px;
	opacity: .6;
}
.down-arrow{
	display: inline-block;
	background-image: url('https://www.facebook.com/rsrc.php/v3/y7/r/fyhmnWiv9rH.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -528px;
	height: 16px;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	white-space: nowrap;
	width: 16px;
	opacity: .6;
}
/* #ads{
	color: white;
}
 */

#content{
	max-width: 900px;
	margin: auto;
	margin-top: 15px;
}

#content > div{
	display: inline-block;
	vertical-align: top;
	background-color: #ddd;
	min-height: 100vh;
	border-radius: 5px;
}

.left-content{
	width: 20%;
}

.left-content .left-menu-item{
	padding: 10px;
}

/* Pseudo classes like "hover" are only applied to the element under
certain circumstatnces */
.left-content .left-menu-item:hover{
	background-color: white;
}

.main-content{
	width: 50%;
}

.right-content{
	width: 25%;
}